// ============ FOOTER ============
.footer {
  padding: size('xxxl') size('xl');
  background-color: color('black');
  text-align: center;

  @include media('tablet') {
    padding: size('xxxl');
  }
}

.footer__content {
  max-width: 1400px;
  margin: 0 auto;
  color: color('gray-light');
  font-size: font('size-small');
  letter-spacing: 0.5px;
}